<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="hotel.component.css">
    
  </head>
  <body>
      <header id="showcase">
          <h1>Welcome To The Hotel</h1>
          <form action="/viewlist.html">
            <label for="roomType">Choose Hotel Name:</label>
            <select>
              <option value="A">Hotel A</option>
              <option value="B">Hotel B</option>
              <option value="C">Hotel C</option>
            </select><br>
            <label for="roomType">Choose Hotel Type:</label>
            <select>
              <option value="Delux">Delux</option>
              <option value="Economy">Economy</option>
            </select>
            <br><br>
            <button><a href="/app/src/app/room-details/room-details.component.html"> proceed</a></button>
          </form>
        </header>
  </body>
</html>