<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="hotel.component.css">
    
  </head>
  <body>
        <div>
      <header id="showcase">
          <div class="container-fluid"><h1><b> Welcome To The Hotel Booking Page</b></h1></div>
          
          <br><br>
        

          
          <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
          <form action="/viewlist.html">
            <label for="HotelType"> Choose Hotel Name: &#160;&#160; </label>
            <select>
              <option value="A">Hotel A</option>
              <option value="B">Hotel B</option>
              <option value="C">Hotel C</option>
            </select><br><br>
            <label for="roomType"> Choose Hotel Type:&nbsp; &nbsp; </label>
            <select>
              <option value="Delux">Delux</option>
              <option value="Economy">Economy</option>
            </select>
            <br><br>
            <button class="btn btn-info"><a href="/app/src/app/room-details/room-details.component.html"> proceed</a></button>
          </form>
        </div>
        </header>
        </div>
  </body>
</html>